/* *Common */
html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

/* *Header */
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 2px 0px 15px black;
  width: 100%;
  max-height: 100px;
  height: 100%;
  padding: 0px 20px;
}

.header__intro h1 {
  color: white;
  font-size: 16rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-family: 'Cormorant Infant', serif;
  font-weight: 400;
}

.header__intro {
  background-image: url(muzei.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}


/* *Nav */
nav {
  text-align: center;
  padding: 10px 0 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  display: block;
  color: #222;
}

.first_menu>li {
  display: inline-block;
  position: relative;
}

.first_menu>li>a {
  position: relative;
  padding: 25px 15px;
  font-size: 1.8em;
  line-height: 1;
  letter-spacing: 1px;
}


.second_menu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 150px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}

.first_menu>li:hover .second_menu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.second_menu a {

  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: .3s linear;
}

.second_menu a:hover {
  text-decoration: underline;
}


.article__text {
  font-size: 18px;
}

.article_text1 {
  text-align: center;
  font-size: 21px;
  padding-top: 10px;
  margin: 5px;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 15px;
}

.title1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 15px;
}



.card-image1 {
  width: 40%;
  border-radius: 10px;
  margin-right: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card1 {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card {
  margin: 20px auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-content {
  display: flex;
  align-items: flex-start;
}

.card-image {
  width: 40%;
  border-radius: 20px;
  padding: 8px;
}

.card-text {
  flex: 1;
  padding: 20px;
}

.card-dates {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-dates ul {
  list-style-type: none;
  padding: 0;
}

.card-dates li {
  margin-bottom: 5px;
}

.summary {
  padding-top: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.details-content {
  margin-top: 10px;
}

.details[open] summary {
  color: #007BFF;

}